*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
 /* top boder */

.topbar{
    background-color:#6d3098;
    height: 30px;
    display: flex;
}
.topbar-info{
    display: flex;
    align-items: center;
    list-style: none;
   
}
.topbar-info-item a,span{
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.top-section{
    display: flex;
    align-items: center;
    margin-left: 80px;
}
.top-section a{
    padding: 10px 15px;
    text-decoration: none;
    font-size: 0.9rem;
    line-height: 1.5;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    font-weight: 600;
}
.top-section a:hover{
    color: #dc3545;
    transition: 0.5s;
}
.tpobar-right{
    margin-left: auto;
}
.social-media{
    display: flex;
    list-style: none;
    align-items: center;
    margin-top: 5px;
    padding-left: 8rem;
}
.social-media li a {
    padding: 0px 15px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.social-media li a:hover{
    color: #181818;
    transition: 0.5s;
}
 /* buttom navabar */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
    background-color: #f8ae0e;
    height: 60px;
    gap: 29px;

} 
/* second navbar */
.logo img{
    height: 40px;
    padding-left: 55px;
    cursor: pointer;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 20px;  
}
.menu ul li a{
    text-decoration: none;
    color: #000;
}
.menu li a:hover{
    color: #fff;
    border-bottom: 2px solid #f05822;
    padding: 8px 0;
    transition: all .5s ease;
}
.menu {
    display: flex;
    align-items: center;
    padding-right: 50px;
}
/* button */
.btn button{
    background: #f05822;
    color: #fff;
    padding: 12px;
    margin-left: 15px;
    gap: 10px;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid #f05822;
    transition: all .5s ease;
    cursor: pointer;
}
.btn button:hover{
    background: transparent;
    transition: 0.5s;
}