/* .bos1{
    width: 100px;
    height: 100px;
    background-color: red;
    animation:
}
.bos2{
    width: 100px;
    height: 100px;
    background-color: blue;
    animation: 
}
.bos3{
    width: 100px;
    height: 100px;
    background-color: green;
    animation:;
} */

.main{
    width: 100px;
    height: 100px;
    background-color: red;;
}

img{
    width: 500px;
    height: 500px;  
    
}